.wp-block-habitat-archuleta-content-slider {
	& .content-slider-item.has-background {
		&.has-brand-green-background-color {

			@media (--bp-large) {
				background: linear-gradient(to bottom, var(--c-brand-green) 80%, transparent 20%);
				background-color: transparent !important;
			}
		}

		&.has-brand-yellow-background-color {

			@media (--bp-large) {
				background: linear-gradient(to bottom, var(--c-brand-yellow) 80%, transparent 20%);
				background-color: transparent !important;
			}
		}

		&.has-brand-blue-background-color {

			@media (--bp-large) {
				background: linear-gradient(to bottom, var(--c-brand-blue) 80%, transparent 20%);
				background-color: transparent !important;
			}
		}
	}

	& .container {
		margin: 0 auto !important;

		@media (--bp-large) {
			display: flex;
			gap: 2rem;
			padding: 0 4rem !important;
		}
	}

	& .slider-image {
		flex: 0 1 40%;
		text-align: center;

		& img {
			box-shadow: 15px 0 0 -6px rgba(0,0,0,1);
		}
	}

	& .wp-block-pullquote {
		margin: 2rem 0 0;
		padding: 0;
		user-select: none;

		& cite {
			font-size: var(--fs-m);
			font-style: normal;
			line-height: 1;
		}

		& p {
			font-size: var(--fs-m);
			line-height: 1.3;
		}

		@media (--bp-large) {
			flex: 0 1 60%;
			margin: 5rem 0 0;

			& p {
				font-size: var(--fs-l);
			}
		}
	}
}