footer {
	background-color: var(--c-black);
	color: var(--c-white);
	font-size: 1rem;
	padding: 1rem;

	& .container {
		display: flex;
		flex-direction: column;

		@media (--bp-medium) {
			display: grid;
			gap: 5%;
			grid-template-columns: .75fr 2fr .75fr;
			justify-content: space-between;
		}
	}

	& .footer-logo {
		order: 1;

		& .logo {
			display: block;
			margin-bottom: 2rem;
			width: 250px;

			& img {
				width: 100%;
			}
		}
	}

	& .footer-details {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		order: 3;

		& p {
			font-size: 1rem;
			margin-bottom: 0;
		}

		@media (--bp-medium) {
			order: 2;
		}
	}

	& .email {
		padding-bottom: 0.5rem;
	}

	& .disclaimer {
		align-items: center;
		display: flex;
		font-size: 0.875rem;
		gap: 1rem;

		@media (--bp-medium) {
			max-width: 80%;
		}
	}

	& .copyright {
		font-size: 0.875rem;
	}

	& .footer-navigation {
		order: 2;
		text-align: center;

		@media (--bp-medium) {
			order: 3;
			text-align: left;
		}
	}

	& .footer-menu {
		font-size: 1rem;
		list-style: none;
		padding: 0;

		& a {
			display: block;
			padding: 0.5rem 0;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
