.social-links {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
	list-style: none;
	padding: 0;

	& li {
		line-height: 1;
	}

	& a {
		line-height: 1;

		&:hover svg path {
			fill: var(--c-brand-blue);
		}
	}
}