/**
 * Core styles (see overrides at bottom)
 */
 .tns-outer {
	padding: 0 !important;
	position: relative;
}

.tns-outer [hidden] {
	display: none !important;
}

.tns-outer [aria-controls],
.tns-outer [data-action] {
	cursor: pointer;
}

.tns-slider {
	-webkit-transition: all 0s;
	-moz-transition: all 0s;
	transition: all 0s;
}

.tns-slider > .tns-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tns-horizontal.tns-subpixel {
	white-space: nowrap;
}

.tns-horizontal.tns-subpixel > .tns-item {
	display: inline-block;
	vertical-align: top;
	white-space: normal;
}

.tns-horizontal.tns-no-subpixel::after {
	clear: both;
	content: "";
	display: table;
}

.tns-horizontal.tns-no-subpixel > .tns-item {
	float: left;
}

.tns-horizontal.tns-carousel.tns-no-subpixel > .tns-item {
	margin-right: -100%;
}

.tns-no-calc {
	left: 0;
	position: relative;
}

.tns-gallery {
	left: 0;
	min-height: 1px;
	position: relative;
}

.tns-gallery > .tns-item {
	left: -100%;
	position: absolute;
	-webkit-transition: transform 0s, opacity 0s;
	-moz-transition: transform 0s, opacity 0s;
	transition: transform 0s, opacity 0s;
}

.tns-gallery > .tns-slide-active {
	left: auto !important;
	position: relative;
}

.tns-gallery > .tns-moving {
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	transition: all 0.25s;
}

.tns-autowidth {
	display: inline-block;
}

.tns-lazy-img {
	opacity: 0.6;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.tns-lazy-img.tns-complete {
	opacity: 1;
}

.tns-ah {
	-webkit-transition: height 0s;
	-moz-transition: height 0s;
	transition: height 0s;
}

.tns-ovh {
	overflow: hidden;
}

.tns-visually-hidden {
	left: -10000em;
	position: absolute;
}

.tns-transparent {
	opacity: 0;
	visibility: hidden;
}

.tns-fadeIn {
	opacity: 1;
	z-index: 0;
}

.tns-normal,
.tns-fadeOut {
	opacity: 0;
	z-index: -1;
}

.tns-vpfix {
	white-space: nowrap;
}

.tns-vpfix > div,
.tns-vpfix > li {
	display: inline-block;
}

.tns-t-subp2 {
	height: 10px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 310px;
}

.tns-t-ct {
	position: absolute;
	right: 0;
	width: 2333.3333333%;
	width: -webkit-calc(100% * 70 / 3);
	width: -moz-calc(100% * 70 / 3);
	width: calc(100% * 70 / 3);
}

.tns-t-ct::after {
	clear: both;
	content: "";
	display: table;
}

.tns-t-ct > div {
	float: left;
	height: 10px;
	width: 1.4285714%;
	width: -webkit-calc(100% / 70);
	width: -moz-calc(100% / 70);
	width: calc(100% / 70);
}

/**
 * Overrides
 */
.tns-controls {
	align-items: center;
	bottom: 50%;
	display: none;
	justify-content: space-between;
	left: 1rem;
	position: absolute;
	right: 1rem;
	transform: translateY(-50%);
	width: calc(100% - 2rem);
	z-index: 10;

	@media (--bp-medium) {
		display: flex;
	}

	& button {
		align-items: center;
		background-color: transparent;
		border: none;
		display: flex;
		font-size: var(--fs-2);
		height: 53px;
		justify-content: center;
		overflow: hidden;
		padding: 0;
		position: relative;
		text-indent: -13em;
		transition: 0.3s;
		white-space: nowrap;
		width: 20px;

		&::after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='73' fill='none'%3E%3Cpath fill='%23000' d='M27.62 73a3.371 3.371 0 0 1-2.706-1.363C18.69 63.27 1.54 38.697 1.37 38.457L0 36.499l1.37-1.96C2.08 33.533 18.69 9.727 24.914 1.36A3.376 3.376 0 0 1 29.65.678c1.489 1.125 1.793 3.272.677 4.771-5.142 6.885-17.861 25.034-22.056 31.05 4.195 5.998 16.914 24.146 22.056 31.048 1.116 1.5.812 3.647-.677 4.771-.608.46-1.319.682-2.03.682Z'/%3E%3C/svg%3E");
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			display: block;
			inset: 0;
			position: absolute;
			text-indent: 0;
			z-index: 5;
		}

		&:not(.wp-block-button__link) {
			opacity: 0;
		}

		&[data-controls="next"] {
			right: 0;

			&::after {
				transform: scale(-1);
			}
		}

		&[disabled] {
			opacity: 0;
		}
	}
}

.tns-nav {
	bottom: 0;
	left: 1em;
	overflow-x: auto;
	padding-bottom: 1em;
	position: absolute;
	right: 1em;
	text-align: center;
	white-space: nowrap;
	z-index: 10;

	& button {
		background: transparent;
		border: 0;
		color: inherit;
		height: 1.5em;
		position: relative;
		width: 1.5em;

		&::before {
			border-radius: 50%;
			box-shadow: 0 0 0 0.7em currentcolor inset;
			content: "";
			height: 0.6em;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: 0.6s;
			width: 0.6em;
			will-change: transform;
		}

		&:not(.tns-nav-active) {
			&::before {
				box-shadow: 0 0 0 2px currentcolor inset;
				transform: translate(-50%, -50%) scale(0.5);
			}
		}
	}
}

.tns-outer > button {
	background-color: rgba(var(--c-orange-light-rgb), 0.8);
	border: transparent;
	border-radius: 0.2em;
	bottom: 0.5em;
	color: inherit;
	font-size: 0.9em;
	opacity: 0;
	padding-bottom: 0.3em;
	position: absolute;
	right: 0.5em;
	transition: 0.3s;
	z-index: 10;

	&::after {
		content: " autoplay";
	}
}

.tns-outer > button:focus,
.tns-outer:hover > button,
.tns-outer:focus-within > button {
	opacity: 1;
}

.tns-outer button:hover {
	transform: scale(.95);
}
