/**
 * Inherit box-sizing to make it easier to change the property
 * for components that leverage other behavior.
 */
 *,
 *::before,
 *::after {
	 box-sizing: border-box;
 }

 :root :where(body) {
	 padding: 0;
 }

 html {
	 box-sizing: border-box;
	 font-size: 16px;
 }

 body {
	 font-family: var(--ff-body);
	 padding: 0;
 }

 main {
	 overflow: hidden;
 }

 /* Add padding to the top of internal pages, to account for sticky header */
 main,
 #tribe-events-pg-template,
 .tribe-common--breakpoint-medium.tribe-events .tribe-events-l-container {
	padding-top: 165px;
 }

 .home main {
	padding-top: 0;
 }

 .container,
 .wp-block-group:not(.is-horizontal):not(.alignfull):not(.container) > *:not(.is-style-reduced-width),
 #tribe-events-pg-template,
 .tribe-common .tribe-common-l-container {
	 margin-left: auto;
	 margin-right: auto;
	 max-width: var(--wp--style--global--content-size);

	 @media (--bp-medium) {
		 padding-left: var(--sp-base);
		 padding-right: var(--sp-base);
	 }
 }

 .wp-block-group:not(.is-horizontal):not(.is-style-no-margin):not(.is-style-section-overlap) {
	 padding: 2rem var(--sp-base);

	 @media (--bp-large) {
		margin: 2rem auto;
		padding: 1rem 0;

		&.has-background {
			padding: 3rem 0;
		}
	 }
 }

 .wp-block-group.is-style-no-margin {
	margin: 1rem auto;
 }

 .wp-block-group.is-style-section-overlap  {
	margin: 2rem 0 1rem;

	@media (--bp-large) {
		margin: -1.25rem auto 2rem;
		padding: 0 0 1rem;
	}
 }

 .wp-block-group.is-layout-grid {
	align-items: center;
 }

.wp-block-media-text.has-background {
	& .wp-block-media-text__media {

		@media (--bp-large) {
			background-color: var(--c-white);
			padding: 0 1rem;
		}
	}

	&.is-image-fill-element > .wp-block-media-text__media img {

		@media (--bp-large) {
			width: calc(100% - 2rem);
		}
	}

	& .wp-block-media-text__content {
		padding: 2rem 1rem;

		@media (--bp-large) {
			max-width: 800px;
			padding: 4rem 8%;
		}
	}
}

 .-noscroll {
	 overflow: hidden;
 }