/* WordPress generated classes */
:root :where(.is-layout-flex) {
	gap: 24px;

	&.is-style-mobile-gap-gone {
		gap: 0;
	}

	@media (--bp-medium) {
		gap: 48px;

		&.is-style-mobile-gap-gone {
			gap: 48px;
		}
	}
}

.alignleft {
	float: left;
	margin-right: 1rem;
	text-align: left;
}

.alignright {
	float: right;
	margin-left: 1rem;
	text-align: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.wp-caption {
	max-width: 100%;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

.wp-caption-text {
	margin: 0;
}

.wp-block-list {
	padding-inline-start: var(--sp-base);

	& li {
		margin: 0.5rem 0;
	}
}

.has-large-font-size {
	font-size: var(--fs-l) !important;
}

.has-brand-green-background-color,
.has-brand-yellow-background-color,
.has-brand-red-background-color,
.has-brand-blue-background-color {
	color: var(--c-black);
}

.wp-block-group.has-background.is-style-partial-background {
	&.has-brand-blue-background-color {

		@media (--bp-large) {
			background: linear-gradient(to bottom, var(--c-brand-blue) 85%, transparent 15%);
			background-color: transparent !important;
		}
	}

	&.has-brand-green-background-color {

		@media (--bp-large) {
			background: linear-gradient(to bottom, var(--c-brand-green) 80%, transparent 20%);
			background-color: transparent !important;
		}
	}
}

.wp-block-image {
	&.is-style-is-cover {
		& img {
			height: 100%;
			object-fit: cover;
			width: 100%;
		}
	}
}

.wp-block-columns {
	&.is-style-mimic-media-text {
		gap: 1rem;

		& .wp-block-column {
			padding: 4rem 8%;
		}
	}
}