/*
 * Colors
 */
:root {
	--c-brand-blue: #00AFD7;
	--c-brand-blue-dark: #002F6C;
	--c-brand-green: #C4D600;
	--c-brand-green-dark: #43B02A;
	--c-brand-yellow: #FFD100;
	--c-brand-orange: #FF671F;
	--c-brand-gray: #888B8D;
	--c-brand-gray-light: #888B8D26;
	--c-brand-red: #E51937;

	--c-black: #000000;
	--c-white: #ffffff;

	--ff-body: "Helvetica Neue", sans-serif;
	--ff-heading: "Helvetica Neue", sans-serif;

	--fs-2xs: 0.75rem; /* 12px */
	--fs-xs: 0.875rem; /* 14px */
	--fs-s: 1rem; /* 16px */
	--fs-base: 1.25rem; /* 20px */
	--fs-m: 1.5rem; /* 24px */
	--fs-l: 1.75rem; /* 28px */
	--fs-xl: 2.25rem; /* 36px */
	--fs-2xl: 3.25rem; /* 52px */
	--fs-3xl: 4.25rem; /* 68px */
	--fs-4xl: 7.5625rem; /* 121px */

	--sp-2xs: var(--fs-2xs);
	--sp-xs: var(--fs-xs);
	--sp-s: var(--fs-s);
	--sp-base: var(--fs-base);
	--sp-m: var(--fs-m);
	--sp-l: var(--fs-l);
	--sp-xl: var(--fs-xl);
	--sp-2xl: var(--fs-2xl);
	--sp-3xl: var(--fs-3xl);
	--sp-4xl: var(--fs-4xl);

	--w-base: 1280px;
}
